@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);
}

p{
    color:aquamarine;
    margin:auto auto;
    text-align: center;
}
.nav-link {
    color: beige;
}

.navbar-nav .nav-link.active {
    color:rgb(255, 127, 148)
}

.navbar-brand img{
    width: 45px;
}

.navbar-toggler{
    background-color: rgb(255, 244, 127);
}

.sidebar{
    color: rgb(160, 95, 103);
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}
.card {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
    color:aquamarine
}
.card a{
    text-decoration: none;
    color: aquamarine;
}

.slide-t, .footer-t{
    color: aquamarine;
    margin:auto auto;
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-an{
    animation: myAnim 5s ease 2s 1 normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

@media (max-width:755px){
    .carousel-indicators{
        display: none;
    }
}
footer, .btn-primary{
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}

